<html lang="en">

  <head>
    <title>GRottol4</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://kit.fontawesome.com/d75e3c3ee6.js" crossorigin="anonymous"></script>
    <link href="static/css/style.css" rel="stylesheet" >
    <link href="static/css/star.css" rel="stylesheet">
    <link href="static/css/style_astro.css" rel="stylesheet">
    <link href="static/css/mobile.css" rel="stylesheet">
    <link href="static/js/custom.js" rel="stylesheet">
    
    
 
  </head>
  <body >
      <header>
        <div class="image">
          <img src="static/imgs/logo.png" width="86" height="80"/>
        </div>

        <nav>
          <div class="menu"></div>
            <ul class="menu">
              <li><a href="http://127.0.0.1:5000/" class="button" value="Home">Home </a></li>
              <li><a class="button" value="Progetti">Projects</a></li>
              <li><a href="Contact.html"  class="button button-c font" value="Contact">Contact</a></li>
            </ul>
        </nav>  
        </header>     
            

          
            
            
        <input type="checkbox" name="" id="check">
        
           
          <label for="check" class="checkk">
            <span class="fas fa-times checkk" id="times"></span>
            <span class="fas fa-bars checkk" id="bars"></span>
          </label>
       
         
          <ol class="menucontainer menu2">
            <li><a href="127.0.0.1:5000" class="button" value="Home">Home </a></li>
            <li><a class="button" value="Progetti">Projects</a></li>
            <li><a href="Contact.html"  class="button button-c " value="Contact">Contacts</a></li>
          </ol>
        </div>    
  
        </nav>

  
    
    <div class="boxContainer">
      <h3><p class="description font item"> Work in progress ..
      </p></h3>
    </div>
  
      
    

  </body>
  <div class="font-footer footer "><p>Copyright &copy; 2023.. Scherzo copia quanto vuoi</p></div>
  
</html>